<script>
  $("#header").html("<h1>Editing article <%= @article.title %></h1>")
</script>

<%= render 'form' %>

<script>
  $("#all_articles").html('&#8592;<%= link_to "Back", articles_path %>')
</script>
